body {
    font-family: "Rubik", serif;
    margin: 0;
    padding: 0;
    background: url('./img/pge-bl.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background-color: rgba(246, 252, 246);
    /* Adiciona um gradiente linear de 90 graus */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #231F20;
    padding: 20px;
    text-align: center;
    animation: slideIn 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: padding 0.3s ease, top 0.3s ease, background 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-hidden {
    top: -100px;
}

.header-small {
    padding: 0px;
}

.header-img {
    max-height: 80px;
    margin-right: 10px;
}

.header-img-right {
    max-height: 80px;
    margin-right: 50px;
    /* Ajusta a margem esquerda para um valor menor */
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0 20px;
    /* Ajusta a margem para centralizar o texto */
    font-size: 2.4em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

main {
    padding: 20px;
    margin-top: 120px;
}

h2 {
    color: #231F20;
    /* Altere esta linha para a cor desejada */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    /* Adicione esta linha para sombra */
}

.info-section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 200px;
    max-width: 90%;
    
}

.info-section:hover {
    background-color: rgba(224, 250, 230, 0.6);
}

.cards-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 190px;
    max-width: 90%;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    padding-bottom: 60px; /* Adiciona espaço para o botão */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    transition: transform 0.3s ease, background-color 0.3s ease;
    animation: fadeIn 0.5s ease-in-out;
    margin: 0 10px;
    position: relative; /* Necessário para posicionar o botão */
    overflow: hidden;
    z-index: 1;
}

.card:hover {
    background-color: rgba(224, 250, 230, 0.6);
}

.card .link-indicator {
    position: absolute;
    bottom: 20px; /* Ajusta a distância do botão em relação ao fundo do card */
    left: 20px; /* Ajusta a distância do botão em relação ao lado esquerdo do card */
    display: inline-flex;
    align-items: center; /* Alinha o conteúdo verticalmente ao centro */
    padding: 10px;
    background: linear-gradient(2deg, #fcfdfc25 -70%, #5FB157 98%); /* Adiciona o gradiente de cor */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Adiciona o cursor de ponteiro */
    transition: background 0.3s ease, color 0.3s ease; /* Adiciona a transição de cores */
}
.link-indicator {
    display: inline-flex;
    align-items: center; /* Alinha o conteúdo verticalmente ao centro */
    padding: 10px;
    background: linear-gradient(2deg, #fcfdfc25 -70%, #5FB157 98%); /* Adiciona o gradiente de cor */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Adiciona o cursor de ponteiro */
    transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Adiciona a transição de cores e sombra */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra inicial */
    font-weight: bold; /* Adiciona negrito ao texto */
}

.link-indicator:hover {
    background: linear-gradient(270deg, #004d40 0%, #5FB157 60%); /* Adiciona o gradiente de cor no hover */
    color: #ffffff; /* Adiciona a cor do texto na transição */
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.2); /* Adiciona o efeito luminoso no hover */
}

.button-icon {
    margin-right: 8px; /* Espaçamento entre a imagem e o texto */
    height: 20px; /* Ajuste a altura da imagem conforme necessário */
    width: 20px; /* Ajuste a largura da imagem conforme necessário */
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

li {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin: 0;
    border-left: 5px solid #00796b;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, max-height 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 0.5s ease-in-out;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    max-height: 50px;
    overflow: hidden;
    cursor: pointer;
}

li:hover {
    background-color: rgba(224, 247, 250, 0.8);
    box-shadow: 0 4px 8px rgba(139, 231, 86, 0.4);
    transform: scale(1.02);
}

li h3, li h2 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .info-text {
    font-size: 0.8em;
    color: #00796b;
    margin-left: 10px;
}

li.expanded {
    max-height: none;
    background-color: rgba(224, 247, 250, 0.8);
}

.more-content {
    display: none; /* Esconde o conteúdo adicional por padrão */
    transition: max-height 0.3s ease;
}

.show-more {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: linear-gradient(45deg, #5FB157, #004d40); /* Adiciona o gradiente de cor */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Adiciona o cursor de ponteiro */
    transition: background 0.3s ease, color 0.3s ease; /* Adiciona a transição de cores */
    font-weight: bold; /* Adiciona negrito ao texto */
}

.show-more:hover {
    background: linear-gradient(45deg, #004d40, #5FB157); /* Adiciona o gradiente de cor no hover */
    color: #ffffff; /* Adiciona a cor do texto na transição */
}

.arrow {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

li.expanded .arrow {
    transform: rotate(180deg);
}

footer {
    background-color: rgba(215, 56, 51);
    color: white;
    text-align: center;
    padding: 2px;
    width: 100%;
    animation: fadeOut 1s ease-in-out;
}
.more-content {
    display: none; /* Esconde o conteúdo adicional por padrão */
}

.show-more {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: linear-gradient(45deg, #5FB157, #004d40); /* Adiciona o gradiente de cor */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Adiciona o cursor de ponteiro */
    transition: background 0.3s ease, color 0.3s ease; /* Adiciona a transição de cores */
}

.show-more:hover {
    background: linear-gradient(45deg, #004d40, #5FB157); /* Adiciona o gradiente de cor no hover */
    color: #ffffff; /* Adiciona a cor do texto na transição */
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    .header-img {
        max-height: 60px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    header h1 {
        margin-left: 0;
        text-align: center;
    }

    .info-section {
        margin: 20px 20px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px;
    }

    .header-img {
        max-height: 50px;
    }

    .info-section {
        margin: 10px 10px;
        padding: 15px;
    }

    li {
        padding: 10px;
        margin: 5px 10px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}